name: Build and Deploy to EC2

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: AWS credential 설정
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_DEPLOYMENT_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_DEPLOYMENT_SECRET_KEY }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set Image URI
        run: |
          URI="${{ secrets.DOCKER_REPOSITORY_URI }}:${{ github.sha }}"
          echo "DOCKER_IMAGE_URI=$URI" >> $GITHUB_ENV

      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew build -x test

      - name: build Docker image
        run: docker build -t ${{ env.DOCKER_IMAGE_URI }} .

      - name: Push Docker image to ECR repository
        run: docker push ${{ env.DOCKER_IMAGE_URI }}

      - name: Deploy to EKS
        run: envsubst '${DOCKER_IMAGE_URI}' < deployment.yml | kubectl apply -f -